{% extends 'base.html' %}
{% load static %}
{% block title %}
    Update Password
{% endblock %}
{% block content %}


        <body class="register-page" style='background-color: #62929E'>
        <div class="register-box">

            <div class="register-box-body">
                <p class="login-box-msg"><a href="#"><img src="{% static 'dist/img/Sans titre.png' %}" width="40%" height="40%" alt=""/></a></p>
                  <strong>Set new password</strong>
                <h5 style="text-decoration:#00a65a">{% include '_messages.html' %}</h5>

                <form action="{% url 'update_password' %}" method="post">
                    {% csrf_token %}

                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" id="fpassword" name="new_password"
                               placeholder="Password" required onkeyup='check();'/>
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" id="spassword" class="form-control" placeholder="Retype password"
                               required onkeyup='check();'/>
                        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                    </div>
                    <span id='message'></span>
                    <div class="row">

                        <div class="col">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Update Password</button>
                        </div><!-- /.col -->
                    </div>
                </form>


            </div><!-- /.form-box -->
        </div><!-- /.register-box -->

        <!-- jQuery 2.1.3 -->

        <script>
            var check = function () {
                if (document.getElementById('fpassword').value == document.getElementById('spassword').value) {
                    document.getElementById('message').style.color = 'green';
                    document.getElementById('message').innerHTML = 'Password and Confirm password are same';
                } else {
                    document.getElementById('message').style.color = 'red';
                    document.getElementById('message').innerHTML = 'Password and Confirm password does not match';
                }
            }
            $(function () {
                $('input').iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-blue',
                    increaseArea: '20%' // optional
                });
            });
        </script>
        </body>

{% endblock %}
