{#<footer class="main-footer">#}
{#        <div  style="padding-left:600px;">#}
{#            <strong>Copyright &copy; 2020-2021 <a href="#">BCDR</a>.</strong> All rights reserved.#}
{##}
{#        </div>#}
{##}
{#</footer>#}



   <footer class="main-footer" style="margin-bottom: 20px">
        <div class="pull-right hidden-xs">
          <b>Version</b> 2.0
        </div>
       <div class="pull-left hidden-xs">
        <strong>Copyright &copy; 2020-2021 <a href="#">SYRAM</a>.</strong> All rights reserved.
       </div>
      </footer>