{% extends 'base2.html' %}
{% load static scraped %}
{% block title %}
    Dashboard
{% endblock %}
{% block content %}
<style>
  .canvasjs-chart-credit{
    display: none !important;
  }
  .connectedSortable{
    position: relative !important;
  }

  #Units::after, #rate::after, #mixed::after, #stop::after, #brackdown::after {
    position: absolute;
    content: '';
    bottom: -4px;
    left: 0;
    height: 15px;
    width: 90px;
    background: rgb(255, 255, 255) !important;
}
.w-100{
  width: 100% !important;
}
.icone{
  height: 18px; 
  width: 18px; 
  text-align: center; 
  border-radius: 2px; 
  color: #0131B4; 
  font-size: 18px;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #0131B4;
}
.active{
  font-weight: 900 !important;
}
.nav>li>a:focus, .nav>li>a:hover {
  color: #1246d3;
  background: #0131b436 !important;
}



ul li a{
  font-size: 18px;
}
.bg-1{
  background: #1840A8;
  color: #fff;
}
.bg-2{
  background: #1371D0;
  color: #fff;
}
a {
  color: #1840A8;
}
table {
  width: 90% !important;
  margin: 0 auto;
}
.table-borderd, th, td{
  padding: 5px;
}
.print-logo, .print-logos{
  display: none;
}
form {
    background: #f3f6ff;
    padding: 7px 15px;
    border-radius: 5px;
}
.chart-table{
  display: none !important;
}
@media print {
  .chart-table, .print-logo, .print-logos {
    display: block !important;
  }
  form {
    display: none !important;
  }
  .print-logos {
    page-break-before: always;
  }
  #Units, #rate, #mixed, #stop, #brackdown {
    width: 40% !important; 
    height: 360px;

  }
  @page { 
        size: 'A2';
    }
}
.goog-logo-link {
    display:none !important;
} 
    
</style>
  <body class="skin-blue">
    <div class="wrapper">
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <ul class="nav nav-tabs">
            <li role="presentation" style="width: 25%;">
              <a href="{% url 'overview' %}"><i class="fa fa-eye icone" aria-hidden="true"></i> Overview</a></li>
            <li role="presentation" style="width: 25%;" class="active">
              <a href="#">
                <i class="fa fa-clock-o icone" aria-hidden="true"></i> 
                Hourly</a>
            </li>
            <li role="presentation" style="width: 25%;">
              <a href="{% url 'dashboard_date' %}">
                <i class="fa fa-calendar icone" aria-hidden="true"></i> 
                Daily</a>
            </li>
            <li role="presentation" style="width: 25%;"><a class="overview" href="#"><i class="fa fa-area-chart icone" aria-hidden="true"></i> Predictive maintenance</a></li>
          </ul>
        </section>

        <!-- Main content -->
        <section class="content">
          <!-- Small boxes (Stat box) -->
          <form method="get">
            <div class="row" style="padding-bottom: 15px;">
              <div class="col-md-4">
                <label for="device_id">Device</label>
                <select id="device_id" name="device_id"  class="form-control" required>
                  {% if not all_devices %}
                  <option value="">-------------</option>
                  {% endif %}
                  {% for item in all_devices %}
                  <option value="{{item.device_id}}">{{ item.designation }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-4">
                <label for="date">Date</label>
                <input id="date" class="form-control" type="date"  name="date" placeholder="Enter date" >
              </div>
              <div class="col-md-4" style="margin-top: 25px;">
                <div class="btn-group" role="group" aria-label="Basic example" style="width: 100%;">
                  <button type="submit" class="btn" style="width: 50%; background: #0131B4; color: #f9f9f9;"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
                  <button type="button" onclick="window.print();return false;"  style="width: 50%; background: #1371D0; color: #f9f9f9;" class="btn"><i class="fa fa-print" aria-hidden="true"></i> Print</button>
                </div>
              </div>
            </div>
          </form>
          <div class="row print-logo">
            <div class="col-md-4" style="float: left; width: 33.33%; text-align: center">
              <!-- logo -->
              <img alt="Brand" style="width: 100px;" src="{% static 'dist/img/Sans titre.png' %}">
            </div>
            <div class="col-md-4" style="float: left; width: 33.33%; text-align: center">
              <!-- logo -->
              <h3>{{ selected.designation }}</h3>
            </div>
            <div class="col-md-4" style="float: left; width: 33.33%; text-align: center;">
              <!-- logo -->
              <h3>{{ date }}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box shadow bg-1">
                <div class="inner text-center">
                  <p style="font-size: 20px; margin-bottom: 0; font-weight: 600;">{{ units_produced }}</p>
                  <h3 style="font-size: 12px;">Produced Units</h3>
                </div>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <div class="small-box shadow bg-2">
                <div class="inner text-center">
                  <p style="font-size: 20px; margin-bottom: 0; font-weight: 600;">{{ scraped_unit }}</p>
                  <h3 style="font-size: 12px;">Scraped Unit</h3>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-xs-6">
              <div class="small-box shadow bg-1">
                <div class="inner text-center">
                  <p style="font-size: 20px; margin-bottom: 0; font-weight: 600;">{{ oee }}%</p>
                  <h3 style="font-size: 12px;">OEE</h3>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-xs-6">
              <div class="small-box shadow bg-2">
                <div class="inner text-center">
                  <p style="font-size: 20px; margin-bottom: 0; font-weight: 600;">{{ availability_rate }}%</p>
                  <h3 style="font-size: 12px;">Availability-Rate</h3>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box shadow bg-1">
                <div class="inner text-center">
                  <p style="font-size: 20px; margin-bottom: 0; font-weight: 600;">{{ quality_rate }}%</p>
                  <h3 style="font-size: 12px;">Quality-Rate</h3>
                </div>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box shadow bg-2">
                <div class="inner text-center">
                  <p style="font-size: 20px; margin-bottom: 0; font-weight: 600;">{{ performance }}%</p>
                  <h3 style="font-size: 12px;">Performance-Rate</h3>
                </div>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box shadow bg-1">
                <div class="inner text-center">
                  <p style="font-size: 20px; margin-bottom: 0; font-weight: 600;">{{ mtbf }}</p>
                  <h3 style="font-size: 12px;">MTBF(H)</h3>
                </div>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box shadow bg-2">
                <div class="inner text-center">
                  <p style="font-size: 20px; margin-bottom: 0; font-weight: 600;">{{ mttr }}</p>
                  <h3 style="font-size: 12px;">MTTR(H)</h3>
                </div>
              </div>
            </div><!-- ./col -->
          <hr>
          <!-- Main row -->
          <div class="row print-logos">
            <div class="col-md-4" style="float: left; width: 33.33%; text-align: center">
              <!-- logo -->
              <img alt="Brand" style="width: 100px;" src="{% static 'dist/img/Sans titre.png' %}">
            </div>
            <div class="col-md-4" style="float: left; width: 33.33%; text-align: center">
              <!-- logo -->
              <h3>{{ selected.designation }}</h3>
            </div>
            <div class="col-md-4" style="float: left; width: 33.33%; text-align: center;">
              <!-- logo -->
              <h3>{{ date }}</h3>
            </div>
          </div>
          <div class="row">
            <section class="col-lg-12 connectedSortable mt-5">
              <div id="Units" style="height: 360px;"></div>
            </section><!-- /.Left col -->
            <section id="unit-table" class="chart-table">
              <div class="row">
                <div class="col-md-12">
                  <table style="width: 100%; margin: 0 auto;">
                    <thead>
                      <tr>
                        <th>Hours</th>
                        {% for i in on_to_twt %}
                        <th>{{ i }}</th>
                        {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Product Unit</td>
                        {% for i in on_to_twt %}
                        <td>{{ date|produce_unit:i }}</td>
                        {% endfor %}
                      </tr>
                      <tr>
                        <td>Scraped Unit</td>
                        {% for i in on_to_twt %}
                        <td>{{ date|scraped_unit:i }}</td>
                        {% endfor %}
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </section>
            </div>

          <div class="row print-logos">
            <div class="col-md-4" style="float: left; width: 33.33%; text-align: center">
              <!-- logo -->
              <img alt="Brand" style="width: 100px;" src="{% static 'dist/img/Sans titre.png' %}">
            </div>
            <div class="col-md-4" style="float: left; width: 33.33%; text-align: center">
              <!-- logo -->
              <h3>{{ selected.designation }}</h3>
            </div>
            <div class="col-md-4" style="float: left; width: 33.33%; text-align: center;">
              <!-- logo -->
              <h3>{{ date }}</h3>
            </div>
          </div>
          <div class="row">
            <section class="col-lg-12 connectedSortable mt-5">
              <div id="rate" style="width: 100%; height: 360px;"></div>
            </section><!-- /.Left col -->
            <section id="rate-table" class="chart-table">
              <div class="row">
                <div class="col-md-12">
                  <table style="width: 100%; margin: 0 auto;">
                    <thead>
                      <tr>
                        <th>Hours</th>
                        {% for i in on_to_twt %}
                        <th>{{ i }}</th>
                        {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>Availability-Rate</th>
                        {% for i in on_to_twt %}
                        <td>{{ date|get_availability:i }}</td>
                        {% endfor %}
                      </tr>
                      <tr>
                        <th>Performance-Rate</th>
                        {% for i in on_to_twt %}
                        <td>{{ date|get_performance:i }}</td>
                        {% endfor %}
                      </tr>
                      <tr>
                        <th>Quality-Rate</th>
                        {% for i in on_to_twt %}
                        <td>{{ date|get_quality:i }}</td>
                        {% endfor %}
                      </tr>
                      <tr>
                        <th>OEE</th>
                        {% for i in on_to_twt %}
                        <td>{{ date|get_oee:i }}</td>
                        {% endfor %}
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </section>
</div>
<div class="row print-logos">
  <div class="col-md-4" style="float: left; width: 33.33%; text-align: center">
    <!-- logo -->
    <img alt="Brand" style="width: 100px;" src="{% static 'dist/img/Sans titre.png' %}">
  </div>
  <div class="col-md-4" style="float: left; width: 33.33%; text-align: center">
    <!-- logo -->
    <h3>{{ selected.designation }}</h3>
  </div>
  <div class="col-md-4" style="float: left; width: 33.33%; text-align: center;">
    <!-- logo -->
    <h3>{{ date }}</h3>
  </div>
</div>
<div class="row">
            <section class="col-lg-12 connectedSortable mt-5">
              <div id="mixed" style="width: 100%; height: 360px; margin-top: 10px;"></div>
            </section><!-- /.Left col -->
            <section id="rate-table" class="chart-table">
              <div class="row">
                <div class="col-md-12">
                  <table style="width: 100%; margin: 0 auto;">
                    <tr>
                      <th>Hours</th>
                      <th>Breakdown</th>
                      <th>Stop</th>
                      <th>Off</th>
                      <th>Unknown</th>
                      <th>Production</th>
                    </tr>
                    {% for i in devices_details %}
                        <tr>
                          <td>{{ i.hours }}</td>
                          <td>{{ i.hours|get_count:"Breakdown" }}</td>
                          <td>{{ i.hours|get_count:"Stop" }}</td>
                          <td>{{ i.hours|get_count:"Off" }}</td>
                          <td>{{ i.hours|get_count:"Unknown" }}</td>
                          <td>{{ i.hours|get_count:"Production" }}</td>
                        </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </section>
            </div>
            <div class="row print-logos">
              <div class="col-md-4" style="float: left; width: 33.33%; text-align: center">
                <!-- logo -->
                <img alt="Brand" style="width: 100px;" src="{% static 'dist/img/Sans titre.png' %}">
              </div>
              <div class="col-md-4" style="float: left; width: 33.33%; text-align: center">
                <!-- logo -->
                <h3>{{ selected.designation }}</h3>
              </div>
              <div class="col-md-4" style="float: left; width: 33.33%; text-align: center;">
                <!-- logo -->
                <h3>{{ date }}</h3>
              </div>
            </div>
            <div class="row">
            <div class="col-md-6">
              <section class="col-lg-12 connectedSortable mt-5">
                <div id="stop" style="width: 100%; height: 360px; margin-top: 10px;"></div>
              </section><!-- /.Left col -->
            </div>
            <div class="col-md-6">
              <section class="col-lg-12 connectedSortable mt-5">
                <div id="brackdown" style="width: 100%; height: 360px; margin-top: 10px;"></div>
              </section><!-- /.Left col -->
            </div>
          </div><!-- /.row (main row) -->

        </section>
      </div><!-- /.content-wrapper -->

    </div><!-- ./wrapper -->

    <!-- jQuery 2.1.3 -->

  </body>

  <script src="{% static 'dist/js/canvasjs.min.js' %}"></script>

  <script>
    $(document).ready(function (){
      $(".overview").click(function () {
        Swal.fire({
        icon: 'info',
        title: 'Coming soon!',
        text: 'This feature Publish very soon',
      })
      });
    });
  </script>

  <script>
    
    window.onload = function () {

      
      function toogleDataSeries(e){
        if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
          e.dataSeries.visible = false;
        } else{
          e.dataSeries.visible = true;
        }
        chart.render();
      }

      function toogleDataSeriesa(e){
        if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
          e.dataSeries.visible = false;
        } else{
          e.dataSeries.visible = true;
        }
        chart.render();
      }


      var chart = new CanvasJS.Chart("Units", {
        animationEnabled: true,
        theme: "light2",
        exportEnabled: false,
        title:{
          text: "Units"
        },
        toolTip: {
          shared: false
        },
        axisX: {
          title: "Hours",
        },
        axisY: {
          titleFontColor: "#6D78AD",
          lineThickness: 1,
          lineColor: "#6D78AD",
          tickColor: "#6D78AD"
        },
        
        legend: {
          cursor: "pointer",
          verticalAlign: "top",
          horizontalAlign: "center",
          dockInsidePlotArea: true,
          itemclick: toogleDataSeriesa,
          fontSize: 12,
          fontColor: "dimGrey",
        },
        data: [{
          type: "spline",
          name: "Product Unit",
          showInLegend: true,
          markerSize: 0,
          dataPoints: {{ product_unit|safe }}
        },{
          type: "spline",  
          markerSize: 0,
          axisYType: "secondary",
          name: "Scraped Unit",
          showInLegend: true,
          dataPoints: {{ scraped_unit_list|safe }}
        }]
      });
      chart.render();
      
      

      var chart = new CanvasJS.Chart("stop", {
          animationEnabled: true,
          exportEnabled: false,
          title: {
              text: "{{ total_stop }} \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n Stop",
              dockInsidePlotArea: true,
              verticalAlign: "center",
              maxWidth: 140,
              fontSize: 22
            },
          data: [{
            type: "doughnut",
            indexLabel: "{label} - {y}%",
            dataPoints: {{ datapoints|safe }}
          }]
        });
        chart.render();

      var chart = new CanvasJS.Chart("brackdown", {
          animationEnabled: true,
          exportEnabled: false,
          title: {
              text: "{{ total_breakdown }} \n\n\n\n\n Breakdown",
              dockInsidePlotArea: true,
              verticalAlign: "center",
              maxWidth: 140,
              fontSize: 22
            },
          data: [{
            type: "doughnut",
            innerRadius: "70%",
            indexLabel: "{label} - {y}%",
            dataPoints: {{ breakdown_datapoints|safe }}
          }]
        });
        chart.render();

      var chart = new CanvasJS.Chart("mixed", {
      animationEnabled: true,
      exportEnabled: true,
      theme: "light2",
      axisY:{
        suffix: "%"
      },
      axisX: {
        labelAngle: 0,
        labelTextAlign: "center"
      },
      toolTip: {
        shared: true
      },
      data: [
      {% for label, value in data_in_min.items %}
      {
        type: "stackedColumn100",
        name: "{{ label|safe }}",
        showInLegend: true,
        color: "#17"+ {{ forloop.counter }} +"EA2",
        toolTipContent: "{label} <br/> <span style='\"'color: {color};'\"'>{name}</span> <strong>{y} (#percent%)</strong>",
        dataPoints: {{ value|safe }},
      },
      {% endfor %}
    ]
    });
    chart.render();













    var chart = new CanvasJS.Chart("rate", {
        animationEnabled: true,
        theme: "light2",
        exportEnabled: false,
        title:{
          text: "Rate"
        },
        toolTip: {
          shared: false
        },
        axisX: {
          title: "Hours",
        },
        axisY: {
          suffix: "%",
          titleFontColor: "#6D78AD",
          lineThickness: 1,
          lineColor: "#6D78AD",
          tickColor: "#6D78AD"
        },
        
        legend: {
          cursor: "pointer",
          verticalAlign: "top",
          horizontalAlign: "center",
          dockInsidePlotArea: true,
          itemclick: toogleDataSeries,
          fontSize: 12,
          fontColor: "dimGrey",
        },
        data: [{

          type:"line",
          name: "Availability_Rate",
          showInLegend: true,
          markerSize: 0,
          dataPoints: {{ availability_list|safe }}
        },{
          type:"line",
          name: "Quality_Rate",
          showInLegend: true,
          markerSize: 0,
          dataPoints: {{ quality_list|safe }}
        },{
          type:"line",
          name: "Performance_Rate",
          showInLegend: true,
          markerSize: 0,
          dataPoints: {{ performance_rate|safe }}
        },{
          type:"line",
          name: "oee_rate",
          showInLegend: true,
          markerSize: 0,
          dataPoints: {{ oee_rate|safe }}
        },]
      });
      chart.render();


    }
    </script>  

{% endblock %}

