{% extends 'base2.html' %}
{% load static %}
{% block title %}
    Dashboard
{% endblock %}
{% block content %}
<style>
  .canvasjs-chart-credit{
    display: none !important;
  }
  .connectedSortable{
    position: relative !important;
  }
  #chartContainer_2::after, #chartContainer_1::after, #unit::after, #rate::after, #mixed::after, #stop::after, #brackdown::after {
    position: absolute;
    content: '';
    bottom: -4px;
    left: 0;
    height: 15px;
    width: 90px;
    background: rgb(255, 255, 255) !important;
}

.icone{
  height: 18px; 
  width: 18px; 
  text-align: center; 
  border-radius: 2px; 
  color: rgb(4, 127, 143); 
  font-size: 18px;
}
ul li a{
  font-size: 18px;
}
.bg-1{
  background: #1840A8;
  color: #fff;
}
.bg-2{
  background: #1371D0;
  color: #fff;
}
a {
  color: #1840A8;
}
</style>
  <body class="skin-blue">
    <div class="wrapper">
      


      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <ul class="nav nav-tabs">
            <li role="presentation" style="width: 25%;"><a class="overview" href="#"><i class="fa fa-eye icone" aria-hidden="true"></i> Overview</a></li>
            <li role="presentation" style="width: 25%;">
              <a href="{% url 'dashboard' %}">
                <i class="fa fa-clock-o icone" aria-hidden="true"></i> 
                Hourly</a>
            </li>
            <li role="presentation" style="width: 25%;" class="active">
              <a href="{% url 'dashboard_date' %}">
                <i class="fa fa-calendar icone" aria-hidden="true"></i> 
                Daily</a>
            </li>
            <li role="presentation" style="width: 25%;"><a href="#"><i class="fa fa-area-chart icone" aria-hidden="true"></i> Predictive maintenance</a></li>
          </ul>
        </section>

        <!-- Main content -->
        <section class="content">
          <!-- Small boxes (Stat box) -->

          <div class="row">
            <div class="col-lg-3">
             
          <h3 style="font-size: 15px;">Selected Device : {{ selected.designation }}</h3>
          <h3 style="font-size: 15px;">Selected Date :  {{st}}----{{ed}}</h3>
         
              <form action=""method="post">
                {% csrf_token %}
                
              <div class="form-group has-feedback">
                <select id="device_id" name="device_id"  class="form-control" required>
                  {% for item in all_devices %}
                  <option value="{{item.device_id}}">Device : {{ item.designation }}</option>
                  {% endfor %}
                </select>
                </div>
              <div class="form-group has-feedback">
                <small>Start-Date:</small>
                <input class="form-control" type="date"  name="datestrt" placeholder="Enter date" required >
                <small>End-date:</small>
                <input class="form-control" type="date"  name="dateend" placeholder="Enter date" required >
             
              </div>
                <button type="submit" class="btn btn-primary ">Search</button>
                
              </form>
              
            </div>
            <div class="col-lg-3 col-xs-6">
            <div class="small-box shadow bg-1">
              <div class="inner text-center">
                <p style="font-size: 20px; margin-bottom: 0; font-weight: 600;">{{ units_produced }}</p>
                <h3 style="font-size: 12px;">Produced Units</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            <div class="small-box shadow bg-2">
              <div class="inner text-center">
                <p style="font-size: 20px; margin-bottom: 0; font-weight: 600;">{{ scraped_unit }}</p>
                <h3 style="font-size: 12px;">Scraped Unit</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            <div class="small-box shadow bg-1">
              <div class="inner text-center">
                <p style="font-size: 20px; margin-bottom: 0; font-weight: 600;">{{oee}}%</p>
                <h3 style="font-size: 12px;">OEE</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            <div class="small-box shadow bg-2">
              <div class="inner text-center">
                <p style="font-size: 20px; margin-bottom: 0; font-weight: 600;">{{Availability_rate}}%</p>
                <h3 style="font-size: 12px;">Availability-Rate</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            
            <div class="small-box shadow bg-1">
              <div class="inner text-center">
                <p style="font-size: 20px; margin-bottom: 0; font-weight: 600;">{{Quality_rate}}%</p>
                <h3 style="font-size: 12px;">Quality-Rate</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            
            <div class="small-box shadow bg-2">
              <div class="inner text-center">
                <p style="font-size: 20px; margin-bottom: 0; font-weight: 600;">{{Performance_rate}}%</p>
                <h3 style="font-size: 12px;">Performance-Rate</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            
            <div class="small-box shadow bg-1">
              <div class="inner text-center">
                <p style="font-size: 20px; margin-bottom: 0; font-weight: 600;">{{ mtbf }}</p>
                <h3 style="font-size: 12px;">MTBF(H)</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            
            <div class="small-box shadow bg-2">
              <div class="inner text-center">
                <p style="font-size: 20px; margin-bottom: 0; font-weight: 600;">{{ mttr }}</p>
                <h3 style="font-size: 12px;">MTTR(H)</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            
            <div class="small-box shadow bg-1">
              <div class="inner text-center">
                <p style="font-size: 20px; margin-bottom: 0; font-weight: 600;">{{maximun}}</p>
                <h3 style="font-size: 12px;">Max Production</h3>
              </div>
            </div>
          </div>
          </div><!-- /.row -->
      
      <hr>
          <!-- Main row -->
          <div class="row">
            <!-- Left col -->
            <section class="col-lg-12 connectedSortable">
              <canvas id="myChart" style="width:100%;height: 300px;"></canvas><script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

            </section><!-- /.Left col -->
            <section class="col-lg-12 connectedSortable">
              <canvas id="myChart2" style="width:100%;height: 300px;"></canvas><script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

            </section><!-- /.Left col -->

            <section class="col-lg-12 connectedSortable">
              <canvas id="myChart12" style="width:100%;height: 300px;"></canvas><script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

            </section><!-- /.Left col -->

            <section class="col-lg-12 connectedSortable mt-5">
              <div id="chartContainer_1" style="width: 100%; height: 360px; margin-top: 10px;"></div>
            </section><!-- /.Left col -->

            <section class="col-lg-12 connectedSortable mt-5">
              <div id="chartContainer_2" style="width: 100%; height: 360px; margin-top: 10px;"></div>
            </section><!-- /.Left col -->

            
            <section class="col-lg-12 connectedSortable mt-5">
              <div id="Units" style="width: 100%; height: 360px;"></div>
           
            </section><!-- /.Left col -->
            <section class="col-lg-12 connectedSortable mt-5">
              <div id="rate" style="width: 100%; height: 360px;"></div>
           
            </section><!-- /.Left col -->

            <section class="col-lg-12 connectedSortable mt-5">
              <div id="mixed" style="width: 100%; height: 360px; margin-top: 10px;"></div>
            </section><!-- /.Left col -->
            <div class="col-md-6">
              <section class="col-lg-12 connectedSortable mt-5">
                <div id="stop" style="width: 100%; height: 360px; margin-top: 10px;"></div>
              </section><!-- /.Left col -->
            </div>
            <div class="col-md-6">
              <section class="col-lg-12 connectedSortable mt-5">
                <div id="brackdown" style="width: 100%; height: 360px; margin-top: 10px;"></div>
              </section><!-- /.Left col -->
           
          
          </div><!-- /.row (main row) -->

        </section>
      </div><!-- /.content-wrapper -->

    </div><!-- ./wrapper -->

    <!-- jQuery 2.1.3 -->

  </body>

  
  <script src="{% static 'dist/js/canvasjs.min.js' %}"></script>

  <script>
    $(document).ready(function (){
      $(".overview").click(function () {
        Swal.fire({
        icon: 'info',
        title: 'Oops...',
        text: 'Coming soon!',
      })
      });
    });
  </script>

  <script>
    var xValues = {{ su_date_label|safe }};
    
    
    new Chart("myChart", {
      type: "line",
      data: {
        labels: xValues,
        datasets: [{
          fill: false,
          lineTension: 0,
          backgroundColor: "#fc0087",
          borderColor: "#fc0087",
          data: {{ su_date_value|safe }},
          label:"Scrape-Unit"
        },
        {
          fill: false,
          lineTension: 0,
          backgroundColor: "#62929E",
          borderColor: "#62929E",
          data: {{ su_up|safe }},
           label:"Unit-Produced"
        }]
      },
      options: {
        legend: {display: false},
        title: {
                        display: true,
                        text: 'Scrape-Units-Per-Hour'
                    },
                 
                  scales: {
            xAxes: [{
                barThickness: 18,  // number (pixels) or 'flex'
                maxBarThickness:20 // number (pixels)
            }]
        }
     
      }
    });
    </script>

<script>
  var xValues = {{ oc_label|safe }};
  var yvalues = {{ oc|safe }}
  console.log(xValues);
  console.log({{ oc|safe }});
  
  
  new Chart("myChart12", {
    type: "bar",
    data: {
      labels: xValues,
      datasets: [{
        fill: false,
        lineTension: 0,
        backgroundColor: "#62929E",
        borderColor: "#62929E",
        data:yvalues
      }]
    },
    options: {
      legend: {display: false},
      title: {
                      display: true,
                      text: 'State Occurance'
                  },
                  scales: {
            xAxes: [{
                barThickness: 18,  // number (pixels) or 'flex'
                maxBarThickness:20 // number (pixels)
            }]
        }
   
    }
  });
  </script>
<script>
 var xValues = {{ su_date_label|safe }};

new Chart("myChart2", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [
      
      {
      fill: false,
      lineTension: 0,
      backgroundColor: "#5c5959",
          borderColor: "#5c5959",
      data: {{ ar_value|safe }},
      label:"Availability-Rate"
    
    }, 
      {
      fill: false,
      lineTension: 0,
      backgroundColor: "#62929E",
          borderColor: "#62929E",
      data: {{ pr_value|safe }},
      label:"Performance-Rate"
    },
    {
      fill: false,
      lineTension: 0,
      backgroundColor: "#fc0087",
          borderColor: "#fc0087",
      data: {{ qr_value|safe }},
      label:"Quality-Rate"
    }, {
      fill: false,
      lineTension: 0,
      backgroundColor: "#fa0c00",
          borderColor: "#fa0c00",
      data: {{ oee_value|safe }},
      label:"OEE-Rate"
    }
  
  ]
  },
   
  options: {
    legend: {display: true},
        title: {
                        display: true,
                        text: 'Availability-Performance-Quality-OEE-rate-Per-Hour'
                    }
  }
});
  </script>
  <script>
    
    window.onload = function () {

      
      function toogleDataSeries(e){
        if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
          e.dataSeries.visible = false;
        } else{
          e.dataSeries.visible = true;
        }
        chart.render();
      }

      function toogleDataSeriesa(e){
        if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
          e.dataSeries.visible = false;
        } else{
          e.dataSeries.visible = true;
        }
        chart.render();
      }

      var chart = new CanvasJS.Chart("chartContainer_1", {
        animationEnabled: true,
        theme: "light2",
        exportEnabled: false,
        title:{
          text: "MTBF"
        },
        toolTip: {
          shared: false
        },
        axisX: {
          title: "Day",
          labelAngle: -30,
        },
        axisY: {
          titleFontColor: "#6D78AD",
          lineThickness: 1,
          lineColor: "#6D78AD",
          tickColor: "#6D78AD"
        },
        
        legend: {
          cursor: "pointer",
          verticalAlign: "top",
          horizontalAlign: "center",
          dockInsidePlotArea: true,
          itemclick: toogleDataSeries,
          fontSize: 12,
          fontColor: "dimGrey",
        },
        data: [{
          type:"line",
          name: "MTBF",
          showInLegend: true,
          markerSize: 0,
          dataPoints: {{ mtbf_list|safe }}
        }]
      });
      chart.render();

      var chart = new CanvasJS.Chart("chartContainer_2", {
        animationEnabled: true,
        theme: "light2",
        exportEnabled: false,
        title:{
          text: "MTTR"
        },
        toolTip: {
          shared: false
        },
        axisX: {
          title: "Day",
          labelAngle: -30,
        },
        axisY: {
          titleFontColor: "#6D78AD",
          lineThickness: 1,
          lineColor: "#6D78AD",
          tickColor: "#6D78AD"
        },
        
        legend: {
          cursor: "pointer",
          verticalAlign: "top",
          horizontalAlign: "center",
          dockInsidePlotArea: true,
          itemclick: toogleDataSeries,
          fontSize: 12,
          fontColor: "dimGrey",
        },
        data: [{
          type:"line",
          name: "MTTR",
          showInLegend: true,
          markerSize: 0,
          dataPoints: {{ mttr_list|safe }}
        }]
      });
      chart.render();
      


      var chart = new CanvasJS.Chart("stop", {
          animationEnabled: true,
          exportEnabled: false,
          title: {
              text: "{{ total_stop }} \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n Stop",
              dockInsidePlotArea: true,
              verticalAlign: "center",
              maxWidth: 140,
              fontSize: 22
            },
          data: [{
            type: "doughnut",
            indexLabel: "{label} - {y}%",
            dataPoints: {{ datapoints|safe }}
          }]
        });
        chart.render();

      var chart = new CanvasJS.Chart("brackdown", {
          animationEnabled: true,
          exportEnabled: false,
          title: {
              text: "{{ total_breakdown }} \n\n\n\n\n Breakdown",
              dockInsidePlotArea: true,
              verticalAlign: "center",
              maxWidth: 140,
              fontSize: 22
            },
          data: [{
            type: "doughnut",
            innerRadius: "70%",
            indexLabel: "{label} - {y}%",
            dataPoints: {{ breakdown_datapoints|safe }}
          }]
        });
        chart.render();



        

      var chart = new CanvasJS.Chart("mixed", {
      animationEnabled: true,
      exportEnabled: true,
      theme: "light2",
      axisY:{
        suffix: "%"
      },
      axisX: {
        labelAngle: 0,
        labelTextAlign: "center"
      },
      toolTip: {
        shared: true
      },
      data: [
      {% for label, value in data_in_min.items %}
      {
        type: "stackedColumn100",
        name: "{{ label|safe }}",
        showInLegend: true,
        color: "#17"+ {{ forloop.counter }} +"EA2",
        toolTipContent: "{label} <br/> <span style='\"'color: {color};'\"'>{name}</span> <strong>{y} (#percent%)</strong>",
        dataPoints: {{ value|safe }},
      },
      {% endfor %}
    ]
    });
    chart.render();

      var chart = new CanvasJS.Chart("Units", {
        animationEnabled: true,
        theme: "light2",
        exportEnabled: false,
        title:{
          text: "Units"
        },
        toolTip: {
          shared: false
        },
        axisX: {
          title: "Hours",
        },
        axisY: {
          titleFontColor: "#6D78AD",
          lineThickness: 1,
          lineColor: "#6D78AD",
          tickColor: "#6D78AD"
        },
        
        legend: {
          cursor: "pointer",
          verticalAlign: "top",
          horizontalAlign: "center",
          dockInsidePlotArea: true,
          itemclick: toogleDataSeriesa,
          fontSize: 12,
          fontColor: "dimGrey",
        },
        data: [{
          type: "spline",
          name: "Product Unit",
          showInLegend: true,
          markerSize: 0,
          dataPoints: {{ speed_data|safe }}
        },{
          type: "spline",  
          markerSize: 0,
          axisYType: "secondary",
          name: "Scraped Unit",
          showInLegend: true,
          dataPoints: {{ distance_covered_data|safe }}
        }]
      });
      chart.render();
      
      
      var chart = new CanvasJS.Chart("rate", {
        animationEnabled: true,
        theme: "light2",
        exportEnabled: false,
        title:{
          text: "Rate"
        },
        toolTip: {
          shared: false
        },
        axisX: {
          title: "Hours",
        },
        axisY: {
          suffix: "%",
          titleFontColor: "#6D78AD",
          lineThickness: 1,
          lineColor: "#6D78AD",
          tickColor: "#6D78AD"
        },
        
        legend: {
          cursor: "pointer",
          verticalAlign: "top",
          horizontalAlign: "center",
          dockInsidePlotArea: true,
          itemclick: toogleDataSeries,
          fontSize: 12,
          fontColor: "dimGrey",
        },
        data: [{

          type:"line",
          name: "Availability_Rate",
          showInLegend: true,
          markerSize: 0,
          dataPoints: {{ availability_list|safe }}
        },{
          type:"line",
          name: "Quality_Rate",
          showInLegend: true,
          markerSize: 0,
          dataPoints: {{ quality_list|safe }}
        },{
          type:"line",
          name: "Performance_Rate",
          showInLegend: true,
          markerSize: 0,
          dataPoints: {{ performance_rate|safe }}
        },{
          type:"line",
          name: "oee_rate",
          showInLegend: true,
          markerSize: 0,
          dataPoints: {{ oee_rate|safe }}
        },]
      });
      chart.render();

    }
    </script>  

{% endblock %}

