{% load static %}
<header class="main-header">
    <a href="{% url 'dashboard' %}" class="logo" style="background-color:#0131B4; ">
        <img src="{% static 'dist/img/logo.png' %}" class="img-circle" alt=""/>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    {#      <a href="{% url 'dashboard' %}" class="logo"><img style="background-color:#0131B4; " src="{% static '/dist/img/logo.jpeg' %}" width="225px" height="170px"  alt="" /></a>#}


    <nav class="navbar navbar-static-top" role="navigation" style="background-color:#0131B4;">

       
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>


        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->


                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% if user_profile.picture %}

                            <img src="{{ user_profile.picture.url }}" class="user-image" alt=""/>
                    
                        {% endif %}

                        <span class="hidden-xs">


   {% if request.user.is_authenticated %}
       {{ user.first_name }} {{ user.last_name }}
   {% endif %}



</span>
                    </a>
                    <ul class="dropdown-menu"  style="background-color:#0131B4; ">
                        <!-- User image -->
                        <li class="user-header" style="background-color:#0131B4; ">
                            {% if user_profile.picture %}
                                <img src="{{ user_profile.picture.url }}" class="user-image" alt="User Image"/>
                            
                            {% endif %}
                            <p>
                                {{ user.first_name }} {{ user.last_name }}<br>

                                <small>Last Login:{{ user.last_login }}</small>
                                <small>Member since:{{ user.date_joined }}</small>
                            </p>
                        </li>
                        <!-- Menu Body -->

                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="{% url 'Settings' %}" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="{% url 'Logout' %}" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <div id="google_translate_element"></div>
                    <script> 
                    function googleTranslateElementInit() {
                        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');

                        var $googleDiv = $("#google_translate_element .skiptranslate");
                        var $googleDivChild = $("#google_translate_element .skiptranslate div");
                        $googleDivChild.next().remove();

                        $googleDiv.contents().filter(function(){
                            return this.nodeType === 3 && $.trim(this.nodeValue) !== '';
                        }).remove();
                        $(".goog-te-combo").addClass("form-control");

                        }
                    </script>
                    <script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> 
                </li>
            </ul>
            
        </div>
    </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
 

<aside class="main-sidebar" style="background-color:#0131B4; ">


    <!-- sidebar: style can be found in sidebar.less -->


    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left info">
                <p>{{ user.first_name }}  {{ user.last_name }}</p>
            </div>
        </div>
       


        <ul class="sidebar-menu" >


            <li class="active treeview" >
                <a href="{% url 'dashboard' %}" style="background-color:#0131B4; ">
                    <i class=" fa fa-fw fa-home"></i> <span>Home</span> </i>
                </a>

            </li>
            <li class="active treeview" style="background-color:#0131B4; ">
                <a href="{% url 'order_device' %}" style="background-color:#0131B4; ">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i> <span>Order new devices</span> </i>
                </a>

            </li>
            <li class="active treeview" style="background-color:#0131B4; ">
                <a href="{% url 'active_devices' %}" style="background-color:#0131B4;">
                    <i class=" fa fa-fw fa-hand-o-right"></i> <span>My Devices</span> </i>
                </a>

            </li>



            <li class="treeview">

                <a href="#" style="background-color:#0131B4; ">
                    <i class="fa fa-gear"></i>

                    <span style="background-color:#0131B4;color: white">Settings</span>

                </a>
                <ul class="treeview-menu" style="background-color:#0131B4;color: white">
                    <li><a href="{% url 'Settings' %}" ><i class="fa fa-circle-o"></i>Profile Settings</a></li>

                    <li><a href="{% url 'setting_security' %}"><i class="fa fa-circle-o"></i> Security Settings</a></li>


                </ul>

            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>