{% extends 'base2.html' %}
{% load static %}
{% block title %}
    Checkout
{% endblock %}
{% block content %}
<style>
    .icone {
        text-align: center;
        margin-top: 25px;
    }
    .icone i{
        padding: 44px 45px;
        background: rgb(49, 194, 114);
        color: #fff;
        border-radius: 50%;
        font-size: 60px;
    }
    .wf{
        width: 50%; 
        margin:0 auto; 
        padding: 35px;
        background: #eeeeee;
    }
    .btn-custome{
        background: #0131B4;
        padding: 8px 10px;
        color: #fff;
    }
    .btn-custome:hover{
        background: #0131B4;
        padding: 8px 10px;
        color: #fff;
    }
</style>
<body>
<!-- Spinner Start -->
    <body class="skin-blue">
    <div class="wrapper" style=" margin-top: 25px;">
        <div class="content-wrapper">
            <div class="wf">
                <div class="row">
                    <div class="col-md-12">
                        <div class="icone">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h1 style="margin-top: 30px; text-align: center; padding-bottom: 10px;">Payment Successful</h1>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Device Info</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"><h4>Designation</h4></div>
                            <div class="col-md-3"><h4>Status</h4></div>
                            <div class="col-md-3"><h4>Serial No</h4></div>
                            <div class="col-md-3"><h4>Email</h4></div>
                        </div>
                        {% for obj in obj_device %}
                        <div class="row">
                            <div class="col-md-3">{{ obj.designation }}</div>
                            <div class="col-md-3">{{ obj.status }}</div>
                            <div class="col-md-3">{{ obj.serial_no }}</div>
                            <div class="col-md-3">{{ obj.email }}</div>
                        </div>
                        {% endfor %}
                        <div class="row">
                            <div class="col-md-12"><h2>Payment Info</h2></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"><h4>Payment Method</h4></div>
                            <div class="col-md-3"><h4>Card</h4></div>
                            <div class="col-md-3"><h4>Price</h4></div>
                            <div class="col-md-3"><h4>${{ price.price }}</h4></div>
                            <div class="col-md-3"><h4>Quentity</h4></div>
                            <div class="col-md-3"><h4>{% if qt %} {{ qt }} {% else %} 0 {% endif %}</h4></div>
                            <div class="col-md-3"><h4>Vat</h4></div>
                            <div class="col-md-3"><h4>20%</h4></div>
                            <div class="col-md-3"><h4>Sub Total</h4></div>
                            <div class="col-md-3"><h4>${{ sub_total }}</h4></div>
                            <div class="col-md-3"><h4>Vat Amount</h4></div>
                            <div class="col-md-3"><h4>${{ total_vat }}</h4></div>
                            <div class="col-md-3"><h4>Total Amount</h4></div>
                            <div class="col-md-3"><h4>${{ total_amount }}</h4></div>
                            <div class="col-md-3"><h4>Date</h4></div>
                            <div class="col-md-3"><h4>{{ invoice.start_date }}</h4></div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-12 text-center">
                                <a href="{% url 'invoice' invoice.pk %}" class="btn btn-custome">Invoice</a>
                                <a href="{% url 'payment_history' %}" class="btn btn-custome">Payment History</a>
                                <a href="/" class="btn btn-custome">Return to home page</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>

{% endblock %}

